.pad_fix{padding:0;}
.mar-5-top{margin-top:5px;}
.mar-175-btm{
margin-bottom: 160px;
}
.site_title_panel{
vertical-align: middle;
padding-top:10px;
padding-bottom:10px;
}
.title_site_disp{
margin-top:10px;

}